{% if menu %}

  {% if isSubMenu %}
    <div class="submenu-anchor relative">

      <ul class="flex flex-col placeholder-menu overflow-x-hidden" style="width: 16px">

        {% for item in menu %}

          <li class="placeholder-item">
            <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
          </li>

        {% endfor %}

      </ul>

      <ul class="ml-12 lg:ml-0 flex submenu absolute top-0 left-0 flex-col">

        {% for item in menu %}
          <li class="nav-menu-item close-menu text-base">
            <a target="{{ item.target }}" href="{{ item.link|site_link }}">{{ item.title }}</a>
          </li>

        {% endfor %}

      </ul>

    </div>

  {% else %}
    <ul class="list-reset flex flex-col lg:flex-row">

      {% for item in menu %}

        {% if item.title == "Nederlands" or item.title == "English" %}
          {% set menu_class = "prevent" %}
          {% set attribute = 'data-barba-prevent' %}
        {% endif %}

        <li class="nav-menu-item mb-6 lg:mb-0 submenu-{{ item.slug }}{% if item.slug == 'contact' %} close-menu{% endif %}">
          {% if item.title == "Nederlands" or item.title == "English" %}

            {% if item.title == "Nederlands" %}
              {% set label = 'NL' %}
              {% set link = site.link ~ "/nl" %}
            {% elseif item.title == 'English' %}
              {% set label = 'EN' %}
              {% set link = site.link %}
            {% endif %}
            <a {{ attribute }} class="hover-line {{ menu_class }}" target="{{ item.target }}" href="{{ link }}">{{ label }}</a>

          {% else %}

            <a {{ attribute }} class="hover-line {{ menu_class }}" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>

          {% endif %}

          {% include "components/menu.html.twig" with {
            "menu" : item.get_children,
            "isSubMenu" : true
          } %}

        </li>

      {% endfor %}

    </ul>
  {% endif %}

{% endif %}