{% if menu %}

  {% if isSubMenu %}
    <div class="submenu-anchor relative">

      <ul class="flex flex-col placeholder-menu overflow-x-hidden" style="width: 16px">

        {% for item in menu %}

          <li class="placeholder-item">
            <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
          </li>

        {% endfor %}

      </ul>

      <ul class="flex submenu absolute top-0 left-0 flex-col">

        {% for item in menu %}

          <li class="nav-menu-item close-menu always-expand">
            <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
          </li>

        {% endfor %}

      </ul>

    </div>

  {% else %}
    <ul class="list-reset flex flex-col lg:flex-row">

      {% for item in menu %}

        <li class="nav-menu-item close-menu always-expand">
          <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>

          {% include "components/menu.html.twig" with {
            "menu" : item.get_children,
            "isSubMenu" : true
          } %}

        </li>

      {% endfor %}

    </ul>
  {% endif %}

{% endif %}