{# Sample page #}

{% extends "core/base.html.twig" %}

{% set main_class = ['header-offset'] %}

{% set breadcrumps = [
  { breadcrump: 'About Us' },
  { breadcrump: 'Blog Articles' }
] %}

{% block main %}

  {% set banner_index = 3 %}

  <section class="pt-28">
    <div class="container">
      <div class="row">
        <div class="col w-6/12 ml-1/12">
          <h1>Blog Articles</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="row flex-wrap">

        {% for post in posts %}

          <div class="col md:w-10/12 md:ml-1/12 lg:w-6/12 lg:ml-5/12">
            <article class="index-{{ loop.index }}">
              <h3 class="text-blue font-medium" style="margin-bottom: 0.25rem">
                {{ post.title }}
              </h3>
              <h3 class="font-normal">
                By
                {{ post.meta('author') }}
              </h3>
              <p class="mt-8 mb-4">
                {{ post.meta('summary') }}
              </p>
              <p class="text-blue text-right">
                <a class="underline" href="{{ post.link }}">Read more</a>
              </p>
            </article>
          </div>

        {% endfor %}

      </div>
    </div>
  </section>

  {% include "components/cta-footer.html.twig" with {
    text: post.meta('page_footer')
  } %}

{% endblock %}