<div class="footer-wrapper relative">

  <footer id="contact" class="section footer-main bg-gray text-xs lg:text-lg xl:text-xl text-white z-30">
    <div class="container">

      <div class="row flex-wrap">
        
        {% for item in footer_widget.meta('locations') %}
          
          <div class="col md:w-5/12 lg:w-4/12 lg:ml-1/12">
            <p class="font-display font-bold text-3xl; md:text-4xl lg:text-6xl xl:text-7xl my-6">{{ item.location }}</p>
            <p class="font-bold">Relationships International - {{ item.location }}</p>
            <p>{{ item.name }}</p>
            <ul class="py-4">
              <li>T {{ item.phone }}</li>
              <li>E {{ item.email }}</li>
            </ul>
              <p class="">{{ item.address }}</p>
            <p class="py-4 text-base">
              {{ item.how_to_reach }}
            </p>
          </div>

        {% endfor %}

      </div>

      <div class="row text-base">
        <div class="col w-full lg:w-11/12 lg:ml-1/12 flex justify-between items-end">
          <p class="opacity-50">
            Relationships International ©2019<br>
            Design: Studio of Things
          </p>
          <div class="branding">
            <img src="{{ theme.link }}/images/logo-white.svg" alt="">
          </div>
        </div>
      </div>

    </div>
  </footer>

</div>